# Default owners for this repository - replace with your platform team
# * @<org>/<platform-team>
# i2 collaborators - review of the application contract areas
# /k8s/         @<i2-reviewer>
# /images/      @<i2-reviewer>
# /config/      @<i2-reviewer>
